@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: rgb(92, 98, 236);

    --text-color: var(--black);

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode */

    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
     /* Dark mode */

    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    /* Light mode */

    background-color: var(--page-bg);
    color: var(--text-color);
}

/* General */

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}



.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

/* Nav */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--header-text);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Dark mode btn */

.dark-mode-btn {
    order: 9;

    position: relative;
    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;

    border-radius: 50px;
    background-color: #272727;
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--white);

   transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}

/* Header */

.header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg);
    background-image: url('./../img/HeaderBG.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p + p{
    margin-top: 0.5em;
}

/* Btn */

.btn {
    display: inline-flex; /* Display as flex */
    justify-content: center; 
    align-items: center; /* Center vertically */
    width: 170px; /* Fixed width */
    height: 48px; /* Fixed height */
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
    text-align: center;
    
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Btn outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;

    border-radius: 5px;
    border: 1px solid var(--blackpure);
    background-color: var(--white);
    color: var(--blackpure);

    transition: opacity 0.2s ease-in;

    margin-top: 20px;

}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/* Projects  */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
}

/* Project details */

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

/* Content list */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

/* Contact Form Styles */

.contact-form {
    background-color: var(--page-bg);
    padding: 40px; /* Increased padding */
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    
}

.contact-form .form-group {
    margin-bottom: 25px; 
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; 
    font-weight: 500;
    color: var(--text-color);
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group textarea {
    width: 100%;
    padding: 15px; 
    border: 1px solid var(--black-border);
    border-radius: 5px;
    font-size: 16px; 
    font-family: 'DM Sans', sans-serif;
}

.contact-form .form-group textarea {
    height: 150px; /* Larger textarea height */
    resize: vertical;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 15px; /* Larger button */
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    font-size: 20px; /* Larger button font size */
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group textarea {
    background-color: #fff; 
    color: var(--black); 
    
}

.dark .contact-form .form-group input[type="text"],
.dark .contact-form .form-group input[type="email"],
.dark .contact-form .form-group textarea {
    background-color: #fff; 
    color: var(--black); 
    border-color: #aaa; 
}

.chart-container {
    width: 100%;

    padding-right: 10px;
    
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.content-section {
    font-family: 'DM Sans', sans-serif; 
    text-align: center; 
    border-bottom: 1px solid var(--accent); 
    padding: 40px; 
}
.content-section {
    display: none;
}

.content-section.none {
    display: block;
}

.title-university {
    font-family: 'Poppins', sans-serif;
    color: var(--accent);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px; 
    
}

.title-university:last-child {
    border-bottom: none; 
}

.date {
    color: var(--accent); 
    font-family: 'DM Sans', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    letter-spacing: 5px; 
    margin-bottom: 20px; 
}

.description {
    font-size: 18px; 
    line-height: 1.6; 
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center;
    margin-top: 10px;
}

.university-separator {
    border: 0;
    height: 2px;
    background-color: var(--accent); 
    margin: 40px 0; 
}

.none {
    display: none;
}

.project-overview {
    padding: 60px 0;
}

.project-details {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    width: 100%; 
    max-width: 800px; 
    margin: auto; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.info-bar {
    /* Dark background */
   color: black;
   padding: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.info-item {
font-family: 'Roboto', sans-serif;
   margin: 0 5px;
   white-space: nowrap;
   margin-bottom: 100px;
   margin-right: 20px;
}

.dark .info-item {
    color: #FFFFFF; 
   
}




@media (max-width: 620px) {
 /* Adjustments for phone */
    
    /* Header  */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    .chart-container {
        max-width: 300px; /* Smaller width on smaller screens */
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .title-university {
        letter-spacing: 5px;
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px; 
        
    }

    .date {
        font-size: 12px; 
        letter-spacing: 4px; 
        margin-bottom: 10px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }

    /* Project page */

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

    .button-container .btn {
        margin-bottom: 20px;  /* Adds space below each button */
    }

    .info-bar {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .info-item {
        flex: 1 1 100%; 
        margin: 5px 0; 
        text-align: center; 
        font-size: 1em;
        margin-bottom: 25px;
    }

    .btn-outline {
        padding: 12px 20px; 
        font-size: 16px; 
    
    }
}
    @media (max-width: 768px) {
        /* Adjustments for tablets */
    
        /* General */
        .container {
            padding: 0 30px; 
            max-width: 960px; 
        }
    
        /* Nav */
        .nav-row {
            justify-content: space-between;
        }
    
        .dark-mode-btn {
            order: 0;
        }
    
        /* Header */
        .header__title {
            font-size: 40px;
        }
    
        .header__title strong {
            font-size: 50px;
        }
    
        /* Title */
        .title-1 {
            margin-bottom: 40px; 
            font-size: 50px;
        }
    
        .title-2 {
            font-size: 36px; 
        }
    
        /* Content List */
        .content-list {
            max-width: 720px; 
        }
    
        .content-list__item {
            font-size: 20px; 
        }
    
        /* Footer */
        .footer__wrapper {
            row-gap: 30px; 
        }
    
        /* Social */
        .social {
            column-gap: 25px; 
        }
    
        .social__item {
            width: 32px; 
        }

        .chart-container {
        width: 100%;
        max-width: 500px; 
        margin: 0 auto; 
        }

        .info-bar {
            flex-wrap: wrap; 
            justify-content: center; 
        }
    
        .info-item {
            flex: 1 1 100%; 
            margin: 5px 0; 
            text-align: center; 
            font-size: 1em;
            margin-bottom: 25px;
        }
    }

    /* Canvases */
    canvas {
        width: 100% !important; 
        height: auto !important; 
    }
    

    @media (max-width: 920px) and (max-height: 1180px) {
        /* Adjustments for smaller tablets */
    
        /* General */
        .container {
            padding: 0 20px; 
        }
    
        /* Nav */
        .nav-row {
            justify-content: space-between;
        }
    
        .dark-mode-btn {
            order: 0;
        }
    
        /* Header */
        .header__title {
            font-size: 36px; /
        }
    
        .header__title strong {
            font-size: 48px;
        }
    
        /* Title */
        .title-1 {
            margin-bottom: 30px; 
            font-size: 42px; 
        }
    
        .title-2 {
            font-size: 30px; 
        }
    
        /* Content List */
        .content-list {
            max-width: 600px; 
        }
    
        .content-list__item {
            font-size: 18px; 
        }
    
        /* Footer */
        .footer__wrapper {
            row-gap: 25px; 
        }
    
        /* Social */
        .social {
            column-gap: 20px; 
        }
    
        .social__item {
            width: 28px; 
        }
    
        /* Chart container */
        .chart-container {
            width: 100%;
            max-width: 400px; 
            margin: 0 auto; 
        }
    
        /* Info bar */
        .info-bar {
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .info-item {
            flex: 1 1 100%;
            margin: 5px 0;
            text-align: center;
            font-size: 1em;
            margin-bottom: 15px; 
        }
    }
    
